* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100dvh;
}
.team-logo {
  width: 180px;
  height: 180px;
  border-radius: 99%;
  background: red;
  border: 8px solid rgba(0, 0, 0, 0.78);
}
.main-content {
  /* background: linear-gradient(90deg, #e81c0e, #570904); */
  background: linear-gradient(90deg, #000, #111);
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  article {
    display: flex;
    flex-flow: column nowrap;
    height: 5 0%;
    justify-content: space-evenly;
    p {
      font-size: 1.25em;
      color: #ccc;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.78);
    }
  }
}
.title {
  color: #ddd;
  font-size: 4em;
}
.subtitle {
  color: #ddd;
  font-size: 2em;
}
.main-content article {
  width: 50%;
}
.main-content figure {
  width: 40%;
}

.teacher {
  width: 100%;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.78));
}
.sidebar {
  color: #ccc;
  text-shadow: 0px 0px 1.5px #222;
  /* background-color: #e81c0e; */
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  padding: 16px 10px 7.5dvh 10px;
  width: 100%;
  height: 100%;
  header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2em;
    a {
      all: unset;
      cursor: pointer;
    }
    .team-logo {
      width: 180px;
      height: 180px;
      border-radius: 99%;
      background: red;
      border: 8px solid rgba(0, 0, 0, 0.78);
    }
    h2 {
      font-family: "Playwrite GB S", cursive;
      color: #eee;
    }
  }
}
.bar-nav {
  display: flex;
  flex-flow: column;
  gap: 2em;
  width: 100%;
  h2 {
    font-family: "Playwrite GB S", cursive;
    color: #eee;
  }
}
.a-div {
  width: 100%;
  gap: 100px;
  display: flex;
  flex-flow: column;
}
.links {
  border-left: 15px solid #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link {
  padding: 10%;
  list-style: none;
  color: #fff;
  text-decoration: inherit;
  transition: background 0.25s ease-in-out;
  width: 90%;
  &:hover {
    background: #333;
  }
  font-size: 1.3em;
}
@media (max-width: 700px) {
  .back2me {
  display: block;

  }
  html {
    font-size: 70%;
  }
  .container {
    display: block;
  }
  .main-content {
    background: #111;
  }
  /* .memoryGame {
    grid-template-columns: repeat(2, 50px);
  }
  .card {
    width: 50px;
    height: 50px;
  } */
}
